@mixin conatiner {
  max-width: 1190px;
  width: 100%;
  padding-left: 20px !important;
  padding-right: 20px !important;
}
.container {
  @include conatiner;
  margin: 145px auto;
}

.container-without-margin_centered {
  @include conatiner;
  margin: 0 auto;
}
.container-without-margin {
  @include conatiner;
  margin: 0;
}

@media (max-width: 1024px) {
  .container {
    margin: 125px auto;
  }
}
@media (max-width: 767px) {
  .container {
    margin: 95px auto;
  }
}
